
.forgotPassword__container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.forgotPassword__left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword__card{
    border: 5px solid #1e2d4b;
    border-radius: 7px;
    border-color: #1e2d4b;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 50%;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;  
}

.forgotPassword__card h3{
    padding-top: 45px;
    font-size: 2rem;
}

.forgotPassword__card p{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    color: #656c7a;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: .8rem;
}

.forgotPassword__card input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: transparent;
    border-color: 1px solid #1e2d4b;
}

.forgotPassword__card input::placeholder{
    text-align: center;
}

.forgotPassword__card button{
    display: inline-block;
    padding: 10px;
    width:50%;
    margin-left: 100px;
    border-radius: 7px;
    outline: none;
    background-color: #1e2d4b;
    color: #FFF;
    transition: .2s ease;
}

.forgotPassword__loginOrCreateAccount{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.forgotPassword__loginOrCreateAccount p{
    padding-top: 3px;
    font-size: .8rem;
}

.loginLink{
    text-decoration: none;
    color:#1e2d4b;
    font-weight: 700;
}

.forgotPasswordPage__right{
    display: inline-block;
    border-radius: 20px 0 0 20px;
    background-color: #1e2d4b;
    width: 50%;
}

.forgotPasswordPage__right img{
    height: 85%;
    width: 100%;
}

/********************* RESPONSIVE DESIGN *********************************/

@media only screen and (max-width: 1024px){

    .forgotPasswordPage__right{
        display: none;
    }

    .forgotPassword__container{
        background-color: #1e2d4b;
    }

    .forgotPassword__left{
        width: 100%;
    }

    .forgotPassword__card{
        height: 60%;
        width: 90%;
        padding-top: 50px;
        border: 1px solid #FFF;
    }

    .forgotPassword__container h3{
        font-size: 2.5rem;
        text-align: center;
        color: #FFF;
    }

    .forgotPassword__container p{
        font-size: .9rem;
        color: #ddd8d8;
        font-weight: 400;
    }

    .forgotPassword__card input::placeholder{
        color: #1e2d4b;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .forgotPassword__card button{
        display: inline-block;
        background-color: #82a7eb;
        width: 100%;
        color: #ffffff;
        margin-left: 0px;
        margin-top: 10px;
        font-size: 1rem;
        letter-spacing: 1px;
        outline: none;
    }

    .loginLink{
        font-weight: 700;
        padding-left: 5px;
        font-size: 1rem;
        color: #82a7eb;
        font-weight: 700;
    }
}